@page "/Quiz/{QuestionId}"
@using BlazorQuiz.Shared.ViewModels

    <div class="row">
        <EditForm EditContext="@editContext" OnSubmit="HandleSubmit">
            <div class="col-9">
                <h3>Question</h3>
                <div class="=row question">
                    <div class="col">
                        @((MarkupString)@AddQuestionViewModel.Question)
                    </div>
                </div>

                <div class="row options mb-3">
                    <div class="input-group-append">
                        <label for="optionA" class="form-control border-0">A) </label>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <InputCheckbox @bind-Value="@AddQuestionViewModel.IsOptionASelected" />
                        </div>
                    </div>
                    <div class="input-group col" style="border:1px solid #ced4da;">

                        @((MarkupString)@AddQuestionViewModel.OptionA)
                    </div>
                </div>

                <div class="row options mb-3">
                    <div class="input-group-append">
                        <label for="optionB" class="form-control border-0">B) </label>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <InputCheckbox @bind-Value="@AddQuestionViewModel.IsOptionBSelected" />
                        </div>
                    </div>
                    <div class="input-group col" style="border:1px solid #ced4da;">

                        @((MarkupString)@AddQuestionViewModel.OptionB)
                    </div>
                </div>
                <div class="row options mb-3">
                    <div class="input-group-append">
                        <label for="optionC" class="form-control border-0">C) </label>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <InputCheckbox @bind-Value="AddQuestionViewModel.IsOptionCSelected" />
                        </div>
                    </div>
                    <div class="input-group col" style="border:1px solid #ced4da;">

                        @((MarkupString)@AddQuestionViewModel.OptionC)
                    </div>
                </div>
                <div class="row options mb-3">
                    <div class="input-group-append">
                        <label for="optionD" class="form-control border-0">D) </label>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <InputCheckbox @bind-Value="AddQuestionViewModel.IsOptionDSelected" />
                        </div>
                    </div>
                    <div class="input-group col" style="border:1px solid #ced4da;">

                        @((MarkupString)@AddQuestionViewModel.OptionD)
                    </div>
                </div>
                <div class="row options mb-3">
                    <div class="input-group-append">
                        <label for="optionE" class="form-control border-0">E) </label>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <InputCheckbox @bind-Value="AddQuestionViewModel.IsOptionESelected" />
                        </div>
                    </div>
                    <div class="input-group col" style="border:1px solid #ced4da;">

                        @((MarkupString)@AddQuestionViewModel.OptionE)
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary myml-2 mb-3" id="btnAddQuestion">Submit</button>

        </EditForm>

        <button @onclick="NextQuestion" class="btn btn-primary myml-2 mb-3" id="btnAddQuestion1">Next Question</button>

        <div class="col-3">

            
        </div>
    </div>
